<h1>Users</h1>

<div id="users_index-table">
  <table cellspacing="10">
    <thead>
      <tr>
        <th align="left">image</th>
        <th align="left">name</th>
        <th colspan="1"></th>
      </tr>
    </thead>
    <tr><% @users.each do |user| %></tr>
      <td><%= image_tag @user.get_profile_image(80,80) %></td>
      <td><%= user.name %></td>
      <td><%= link_to "Show", book_path(user.id) %></td>
    <% end %>
  </tbody>
  </table>
</div>
