<h1>User info</h1>

<%= image_tag @user.get_profile_image(80,80) %>
<table class="table">
    <tbody>
        <tr></tr>
        <tr>
            <th>neme</th>
            <th><%= @user.name %></th>
        <tr>
            <th>introduction</th>
            <th><%= @user.introduction %></th>
        </tr>
    </tbody>
</table
