<h1>Book detail</h1>

<div id="books_index-table">
  <table cellspacing="10">
    <thead>
      <tr>
        <th colspan="1"></th>
        <th align="left">Title</th>
        <th align="left">Opinion</th>
      </tr>
    </thead>
    <tr><% @books.each do |book| %></tr>
      <td></td>
      <td><%= book.title %></td>
      <td><%= book.body %></td>
    <% end %>
  </tbody>
  </table>
</div>